<div id="portfolio" class="row horizontal-scroll">

    <div class="col-lg">
        <h1>Anslag</h1>
        <br />

        <div class="rectangular-block">

            <div class="col-s">
                <p class="-capitalize -bold"> Senaste </p>
            </div>
            <div class="col-lg">


                <div class="input-text-special-wrap">
                    <div class="slicer"></div>
                    <div class="icon"></div>
                    <input type="text" placeholder="Sök efter transaktion" />
                </div>

            </div>


            @*<input class="fancy-checkbox" type="checkbox" data-labelauty="Im not checked|Im checked" />*@

        </div>

        <div class="block-lg vertical-scroll">


            @for (var x = 0; x < 20; x++)
            {
                <div class="rectangular-block">

                </div>
            }

        </div>
    </div>

    <div class="col-lg">
        <h1>Kommentarer</h1>
        <br />

        <div class="rectangular-block">

            <p>Hola senor</p>

        </div>




    </div>


</div>