<div class="sub-section" row-location="contest-overview">

    <div id="market" class="row horizontal-scroll">

        <div class="col-s">

        </div>

        <div class="col-lg">
            
            <h1>Sesams aktietävling</h1>
            <br />
            <div class="block-lg">
                <div class="clean-content -white">
                    
                    

                    <blockquote>

                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                    </blockquote>
                    
                    

                </div>
                
                

            </div>
         

        </div>


        <div class="col-lg ">
            <h1>Tävlingsstatistik</h1>
            <br />
            <div class="block-lg">
                <div class="clean-content -white">




                </div>



            </div>
           
        </div>

       

    </div>

</div>

<div class="sub-section" row-location="contest-scores">
    <div class="row horizontal-scroll">

        <div class="col-s">

        </div>
        
        <div class="col-lg">
            <h1>Topplistan</h1>
            <br />
            <div class="block-lg">
                <div class="clean-content -white">


                </div>

            </div>
        </div>
        
    </div>
</div>

<div class="sub-section" row-location="contest-members">
    <div class="row horizontal-scroll">

        <div class="col-s">

        </div>
        
        <div class="col-full">
            <h1>Hitta tävlingsmedlemmar</h1>
            <div class="input-text-special-wrap">
                <div class="slicer"></div>
                <div class="icon"></div>
                <input type="text" placeholder="Hitta värdepapper" />
            </div>

            <br />
            <br />

            <ul class="details-members-list">

                @for (var x = 0; x < 5; x++)
                {
                    <li>
                        <div class="block-m -white">
                            <div class="image-wrap">
                                @if (x == 3)
                                {
                                    <img src="~/Content/Images/Users/jake.jpg" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/Users/sherlock.jpg" />
                                }
                                
                            </div>
                            <div class="blob">
                                
                            </div>

                            <p class="-capitalize">Marcus Zankenberg</p><br/>
                            <p class="-capitalize -discrete">Jylland</p>
                        </div>
                    </li>
                }



            </ul>

        </div>
        

    </div>
</div>

