@{
    ViewBag.Title = "Min akitedepå";
    @Styles.Render("~/CssBundle/custody-account")
}

<div id="custody-account" class="row horizontal-scroll">


    <div class="col-lg">
        <h1>Översikt</h1>
        <br />

        <div class="block-m">

            <div class="clean-content -white">

                <div class="pie-chart" data-percent="55">
                    <div class="chart-content">
                        <br/>
                        <h1>15 000</h1>
                        <br />
                        <p class="-capitalize"> att handla för </p>

                    </div>
                </div>


            </div>

        </div>

        <div class="block-m">

            <div class="clean-content -white">

                <div class="pie-chart" data-percent="-55">
                    <div class="chart-content">
                        <br />
                        <h1>-55.3%</h1>
                        <br />
                        <p class="-capitalize"> utveckling </p>

                    </div>
                </div>


            </div>

        </div>

        <div class="block-m">

            <div class="clean-content -white">
                <div class="donut-chart"></div>
            </div>

        </div>
    </div>
    <div class="col-lg">
        <h1>Innehav</h1>
        <br />

        <div class="block-lg">
            <div class="clean-content -white">




            </div>


        </div>



    </div>

    <div class="col-lg">
        <h1>Transaktioner</h1>
        <br />

        <div class="block-lg">
            <div class="clean-content -white">




            </div>


        </div>



    </div>
</div>

