Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
~$*

!.nuget/nuget.exe
/packages/
/Wicsys-CRM/APP_DATA/

/Wicsys-CRM.sln.GhostDoc.xml
/Wicsys-CRM.sln.GhostDoc.user.dic
