
@media screen and (min-width: 1366px) {



    .main-content {
        width: 92%;
        height: 92%;
        padding: 4%;
        overflow: hidden;
    }

    .anchor-section {
        display: none;
        opacity: 0.0;
        top: -10px;
        overflow: hidden;
    }

        .anchor-section .sub-section {
            width: auto;
            height: 100%;
            margin-bottom: 4%;
            overflow: hidden;
        }

    .main-content .right-ghost {
        position: absolute;
        right: 4%;
        width: 150px;
        height: 100%;
        z-index: 9;
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(235,235,235,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(235,235,235,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ebebeb',GradientType=1 );
    }

    .row {
        max-width: 8000px;
        height: 100%;
        overflow: hidden;
        display: block;
        margin-bottom: 100px;
    }

    .col-s, .col-m, .col-lg, .col-full {
        height: 100%;
        margin: 0 15px 0 0;
        background: transparent;
        display: inline-block;
        vertical-align: top;
    }

    .col-s {
        width: 115px;
    }

    .col-m {
        width: 300px;
    }

    .col-lg {
        width: 615px;
    }

    .col-full {
        width: 11500px;
        /*width: auto;*/ 
    }

    .row .vertical-scroll {
        width: 615px;
        max-height: 800px;
    }



    .block-s, .block-m, .block-lg, .rectangular-block {
        display: inline-block;
        vertical-align: top;
        margin: 0px 0px 5px 5px;
        /*overflow: hidden;*/
        float: left;
    }

    .block-s {
        width: 150px;
        height: 150px;
    }

        .block-s:nth-of-type(odd) {
            margin: 0 0 0 0;
        }

    .block-m {
        width: 305px;
        height: 305px;
    }

        .block-m:nth-of-type(odd) {
            margin: 0 0 0 0;
        }

    .block-lg {
        width: 615px;
        height: 615px;
    }

        .block-lg .content {
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            padding: 25px;
        }

    .rectangular-block {
        width: calc(100% + 5px);
        min-height: 50px;
        background: #FFF;
        margin: 0 0 5px -5px;
    }

    .table-col-6 {
        position: relative;
        width: calc(100% - 100px);
        min-height: 50px;
    }


        .table-col-6 thead tr {
            width: 100%;
        }

            .table-col-6 thead tr td {
                width: 16%;
                min-height: 15px;
                padding: 10px;
            }



        .table-col-6 tbody tr {
            width: 100%;
            border-bottom: 1px solid #EBEBEB;
        }

            .table-col-6 tbody tr td {
                width: calc(100% / 6);
                min-height: 15px;
                padding: 10px;
            }

    .table-col-4 {
        position: relative;
        /*width: calc(100% - 100px);*/
        width: 100%;
        min-height: 50px;
        border-spacing: 0;
    }


        .table-col-4 thead tr {
            width: 100%;
        }

            .table-col-4 thead tr td {
                width: 20%;
                min-height: 15px;
                padding: 0px 10px 25px 10px;
                display: table-cell;
                border-bottom: 1px solid #EBEBEB;
                text-align: right;
            }

                .table-col-4 thead tr td:first-of-type {
                    width: 40%;
                    text-align: left;
                }


        .table-col-4 tbody tr {
            width: 100%;
            transition: 0.2s ease-in-out;
        }

        .table-col-4 tbody > .selected {
            background: #FAFAFA;
        }

        .table-col-4 tbody tr:hover {
            background: #FAFAFA;
        }

        .table-col-4 tbody tr td {
            width: 20%;
            min-height: 15px;
            padding: 10px;
            display: table-cell;
            border-bottom: 1px solid #EBEBEB;
            text-align: right;
        }

            .table-col-4 tbody tr td:first-of-type {
                width: 40%;
                text-align: left;
            }

    .table-pagination {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 515px;
        height: 35px;
        transform: translate(-50%, -0%);
        background: transparent;
        text-align: center;
    }

        .table-pagination > .pagination-item {
            display: inline-block;
            vertical-align: top;
            width: 35px;
            height: 25px;
            border-right: 1px solid #EBEBEB;
            cursor: pointer;
        }

            .table-pagination > .pagination-item:last-of-type {
                border-right: none;
            }


    .pie-chart {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .pie-chart-label {
        position: absolute;
        width: 200px;
        height: 30px;
        left: 25px;
        bottom: 10px;
    }

    .pie-chart > .chart-content {
        position: absolute;
        width: 100px;
        height: 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .input-wrap {

       

    }


    .validation-tool-tip {
        position: absolute;
        left: 50%;
        top: -30px;
        min-width: 180px;
        min-height: 15px;
        padding: 10px;
        background: #FFF;
        /*box-shadow: 0px 2px 15px #CCC;*/
        transform: translate(-50%, -0%);
        text-align: center;
        z-index: 1; 
    }

        .validation-tool-tip > .arrow {
            position: absolute;
            bottom: -5px;
            left: 50%;
            width: 10px;
            height: 10px;
            background: #FFF;
            transform: rotate(45deg) translate(-50%, -0%);
        }
}





/* MEDIUM SCREEN RESOLUTION CSS */





@media screen and (max-width: 1366px) {

    .main-content {
        width: 90%;
        height: 90%;
        padding: 4% 4% 0 4%;
    }

        .main-content .right-ghost {
            position: absolute;
            right: 4%;
            width: 50px;
            height: 100%;
            z-index: 1;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(235,235,235,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ebebeb',GradientType=1 ); /* IE6-9 */
        }

    .row {
        max-width: 8000px;
        min-height: 100%;
        /*overflow: auto;*/
        overflow: hidden;
    }

    .col-s, col-m, .col-lg {
        height: 100%;
        margin: 0 15px 0 0;
        background: transparent;
        display: inline-block;
        vertical-align: top;
    }

    .col-s {
        width: 145px;
    }

    .col-m {
        width: 300px;
    }

    .col-lg {
        width: 515px;
    }


    .row .vertical-scroll {
        width: 515px;
        max-height: 800px;
    }



    .block-s, .block-m, .block-lg {
        display: inline-block;
        vertical-align: top;
        margin: 0px 0px 5px 0px;
        overflow: hidden;
        -webkit-transition: all 2.5s ease;
        -moz-transition: all 2.5s ease;
        -o-transition: all 2.5s ease;
        transition: all 2.5s ease;
    }

    .block-s {
        width: 125px;
        height: 125px;
    }

        .block-s:nth-of-type(4n) {
            margin: 0 0 0 0;
        }

    .block-m {
        width: 255px;
        height: 255px;
    }

    .block-lg {
        width: 515px;
        height: 515px;
    }

        .block-lg .content {
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            padding: 25px;
        }

    .rectangular-block {
        width: 100%;
        min-height: 50px;
        background: #FFF;
        margin: 0 0 5px 0;
    }

    .table-col-6 {
        position: relative;
        width: calc(100% - 100px);
        min-height: 50px;
    }


        .table-col-6 thead tr {
            width: 100%;
        }

            .table-col-6 thead tr td {
                width: 16%;
                min-height: 15px;
                padding: 10px;
            }



        .table-col-6 tbody tr {
            width: 100%;
            border-bottom: 1px solid #EBEBEB;
        }

            .table-col-6 tbody tr td {
                width: calc(100% / 6);
                min-height: 15px;
                padding: 10px;
            }

    .table-col-4 {
        position: relative;
        width: 100%;
        min-height: 50px;
        border-spacing: 0;
    }


        .table-col-4 thead tr {
            width: 100%;
        }

            .table-col-4 thead tr td {
                width: 20%;
                min-height: 15px;
                padding: 0px 0px 25px 0px;
                display: table-cell;
                border-bottom: 1px solid #EBEBEB;
            }

                .table-col-4 thead tr td:first-of-type {
                    width: 40%;
                }


        .table-col-4 tbody tr {
            width: 100%;
            border-bottom: 1px solid #EBEBEB;
            transition: 0.2s ease-in-out;
        }

            .table-col-4 tbody tr:hover {
                background: #FAFAFA;
            }


            .table-col-4 tbody tr td {
                width: 25%;
                min-height: 10px;
                padding: 1px;
                display: table-cell;
                border-bottom: 1px solid #EBEBEB;
            }
}
