body {
    background: url(../Images/Gfx/montage26.jpg) no-repeat; 
}

.main-block {

    width: 0px;
    background: #CCC;


}


.right-block {

    width: calc(38% - 100px);
    height: calc(38% - 100px);
    padding: 50px;
    background: #FFF;
    float: right;

}

.half-block {
    display: inline-block;
    vertical-align: top;

    width: 47%;
    margin-right: 5%;
    margin-bottom: 5%;

}

.half-block:nth-of-type(even) {

    margin-right: 0;


}

.right-block > form .half-block > .input-wrap input[type="text"], input[type="email"] {

    background: #FAFAFA;
    border: 1px solid #EBEBEB;
    width: 100%;

}



.right-block > form .half-block >  .input-wrap input[type="password"] {

    width: 100%;

}


.right-block form .half-block >  button {
    
    float: right;
    margin: 0 -10px 0 0;
    width: calc(100% + 10px);
    min-height: 39px;
}

.right-block form .half-block >  input[type="checkbox"] {

    float: left;
    margin: 20px 0 0 0;
    width: 100%;
}

