@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,800,400);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td , section
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body				
{		
	background: #EBEBEB;
    overflow: hidden;
}

div 					
{		
	position: relative; 
}

p, li, a, h1, h2, h3, h4 
{
	font-family: 'Open Sans'; 
	color: #444; 
}

p 
{
	font-size: 11px; 
	letter-spacing: 2px; 
	font-weight: 400; 
	text-transform: none; 
	line-height: 2;
}

.-capitalize {
    text-transform: uppercase;
    font-size: 9px;
}

.-discrete {
    color: #CCC; 
}

.-jumbo {
    font-size: 28px;
}

.-mini {
    font-size: 9px;
}

.-bold {
    font-weight: 700;
}

a, li {
    font-size: 10px; 
	letter-spacing: 3px; 
	font-weight: 300; 
	text-transform: uppercase; 
	line-height: 2;
    cursor: pointer;
}


a:link {
    color: initial;
    text-decoration: none; 
}


a:visited {
    color: initial;
}


a:hover {
    color: initial;
}

a:active {
    color: initial;
}

h1 {

	font-size: 22px; 
	letter-spacing: 1px; 
	font-weight: 300; 
}

h2 {

	font-size: 14px;
    letter-spacing: 2px;
	font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;

}

h3 {

	font-size: 14px;
    letter-spacing: 1px;
	font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

}

.button-primary {

    width: 150px;
    min-height: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: none;
    cursor: pointer;

}

/* Input styling */

input[type="text"] {

    position: relative;
    width: calc(100% - 10px);
    height: 35px;
    padding: 0 0 0 10px;
    background: #EBEBEB;
    /*border: 1px solid #EBEBEB;*/

    font-family: 'Open Sans';
    font-size: 11px; 
	letter-spacing: 1px; 
	font-weight: 400; 
	text-transform: none; 

}

.input-text-special-wrap {

    position: relative;
    width: 100%;
    height: 35px;
    background: #FFF;
    border: 1px solid #EBEBEB;
    z-index: 1;
}

.input-text-special-wrap > .icon {

    position: absolute;
    width: 25px;
    height: 25px;

    top: 10px;
    left: 10px; 

    z-index: 2;
    background: url("../Images/Gfx/magnifyingglass.png") no-repeat; 
    
}

.input-text-special-wrap > .slicer {

    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    top: -1px;
    background: #FFF;
    z-index: 2;
    height: 28px; 
}

.input-text-special-wrap > input[type="text"] {

    position: absolute;
    left: 0;
    top: 0;
    padding: 0 0 0 60px;
    width: calc(100% - 60px);
    background: transparent;
    z-index: 3;
}



textarea {

    width: calc(100% - 20px);
    min-height: 100px;
    padding: 10px;
    background: #EBEBEB;
    border:none;

    font-family: 'Open Sans';
    font-size: 11px; 
	letter-spacing: 1px; 
	font-weight: 400; 
	text-transform: none; 

}

/*Font colors*/

.color-white
{
	color: #EBEBEB; 
}

.color-red {
    color: #dd7f7f; 
}

.color-cyan {
    color: #90c3c1;
}

.color-green {
    color: #90c394; 
}

/*Background colors*/

.-white {
    background: #FFF;
}

.-green {
    background: #90c394; 
}

.-cyan {
    background: #90c3c1; 
}

.-purple {
    background: #9095c3; 
}

.-yellow {
    background: #bfc390; 
}

.-red {
    background: #dd7f7f; 
}

.-pink {
    background: #c390b8; 
}

.-orange {
    background: #c3a690;
}

.-blue {
    background: #506175; 
}

.-light-green {
    background: #69a293;
}

.-float-left {
    float: left;
}

.-float-right {
    float: right; 
}