
.row > .col-lg {
    visibility: hidden;
    opacity: 0.0;
    left: -30px;
}

    .row > .col-lg:first-of-type {
        visibility: visible;
        opacity: 1.0;
        left: 0px;
    }

    .row > .col-lg > .block-lg {
        height: 100%;
        width: 100%;
    }

.row .col-lg > #daily-winners {
    overflow: hidden;
    background: #FFF;
}

.row .col-lg .block-lg > .clean-content {
    width: calc(100% - 100px);
    min-height: 515px;
    padding: 50px;
}

.row .col-lg .block-m > .clean-content {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
}


.row .col-lg .block-lg .clean-content > .account-summary {
    position: relative;
    width: 515px;
    left: 50%;
    transform: translate(-50%, -0%);
}

    .row .col-lg .block-lg .clean-content > .account-summary > .col-s {
        width: 120px;
        height: 120px;
        margin: 0 5px 0 0;
        background: transparent;
        border-right: 1px solid #EBEBEB;
        text-align: center;
    }

        .row .col-lg .block-lg .clean-content > .account-summary > .col-s > p {
            margin-top: 30%;
        }

        .row .col-lg .block-lg .clean-content > .account-summary > .col-s:last-of-type {
            margin: 0;
            border: none;
        }


.row .col-lg .block-lg .clean-content .share-development {
    position: absolute;
    left: 0%;
    top: -25px;
    width: 615px;
    height: 515px;
    transform: translate(-0%, -0%);
}

.row .col-lg .block-m .block-s {
    width: 100px;
    height: 100px;
    padding: 25px;
}

.search-field {

    width: 450px;
    height: 30px;
    padding: 25px;
    background: #FFF;
}

.market-search-share-list {
    position: relative;
    width: 600px;
    height: 615px;
    list-style: none;
    margin-right: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

    .market-search-share-list li {
        width: 300px;
        height: 50px;
        margin-bottom: 20px;
        /*-webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;*/
    }

        .market-search-share-list .share:hover {
            background: #FAFAFA;
        }

         .market-search-share-list .alphabet {
             border-bottom: 3px solid #FFF;
             height: 47px;
        }

        .market-search-share-list li .thumb, .data {
            display: inline-block;
            vertical-align: top;
        }

        .market-search-share-list li .thumb {
            width: 50px;
            height: 50px;
            background: #FFF;
        }

            .market-search-share-list li .thumb > .recognizer {
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .market-search-share-list li .data {
            width: 230px;
            margin-left: 10px;
            height: 50px;
        }

.col-full h1, .input-text-special-wrap {
    display: inline-block;
    vertical-align: top;
}

.col-full .input-text-special-wrap {
    width: 300px;
    top: -5px;
    margin-left: 40px;
    background: #ebebeb;
    border: 1px solid #CCC;
}

    .col-full .input-text-special-wrap > .slicer {
        background: #EBEBEB;
    }


.time-filter {
    position: absolute;
    bottom: 50px;
    left: 80px;
    width: 445px;
    height: 25px;
    border: 1px solid #EBEBEB;
    z-index: 10;
}

    .time-filter .filter-item {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        height: calc(100% - 4px);
        padding: 4px 0 0 0;
        text-align: center;
        border-right: 1px solid #EBEBEB;
        float: left;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

        .time-filter .filter-item:hover {
            background: #FAFAFA;
        }

        .time-filter .filter-item:last-of-type {
            border: none;
        }


#market-share-about > .rectangular-block {
    width: calc(615px - 100px);
    min-height: calc(305px - 100px);
    padding: 50px;
}

#market-share-about  .block-m {
    margin-left: -5px;
    margin-right: 10px;
}

#market-share-about  .block-m:last-of-type {
    margin-right: 0px;
}

.world-map {
    position: absolute;
    width: 615px;
    height: 615px;
    z-index: 0;
}

.point {

    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #90c3c1;
    transition: all .3s ease;
    z-index: 1;
}

.point:hover {

    background: #9cd5d3;
}

.point > .validation-tool-tip {

    box-shadow: 0px -0px 15px #b0b0b0;
    width: 50px !important;
    min-height: 70px;
    top: 50px;
    text-align: left;
    
    
}

.point > .validation-tool-tip .arrow {

    top: -2px;
    
}

.point > .validation-tool-tip .canvas {

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    
}

.point > .validation-tool-tip .block {

    display: inline-block;
    vertical-align: top;
    float: left; 
    width: 90px;
    height: 70px;
    z-index: 2;
}

.point > .validation-tool-tip .block:first-of-type {

    width: 89px;
    border-right: 1px solid #ebebeb !important; 


}

.point > .validation-tool-tip .block h1 {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}


#sweden {
    position: absolute;
    right: 110px;
    top: 100px;
}

#usa {
    position: absolute;
    left: 100px;
    top: 200px;
}


