
.anchor-section .market-navigator {
    position: absolute;
    top: 200px;
    left: -20px;
    width: 80px;
    height: 240px;
    background: #FFF;
    transform: translate(-0%, -0%);
    z-index: 10;
}

    .anchor-section .market-navigator .navigation-item {
        width: 50px;
        height: 50px;
        padding: 15px;
        border-bottom: 1px solid #EBEBEB;
    }

    .anchor-section .market-navigator .navigation-item i {

        font-size: 14px;

    }
        .anchor-section .market-navigator .navigation-item:last-of-type {
            border: none;
        }

#market > .col-lg {
    visibility: hidden;
    opacity: 0.0;
    left: -30px;
}

    #market > .col-lg:first-of-type {
        visibility: visible;
        opacity: 1.0;
        left: 0px;
    }

    #market > .col-lg > .block-lg {
        height: 100%;
        width: 100%;
    }

#market .col-lg > #daily-winners {
    overflow: hidden;
    background: #FFF;
}

#market .col-lg .block-lg > .clean-content {
    width: calc(100% - 100px);
    min-height: 515px;
    padding: 50px;
}

#market .col-lg .block-m > .clean-content {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
}


#market .col-lg .block-lg .clean-content > .account-summary {
    position: relative;
    width: 515px;
    left: 50%;
    transform: translate(-50%, -0%);
}

    #market .col-lg .block-lg .clean-content > .account-summary > .col-s {
        width: 120px;
        height: 120px;
        margin: 0 5px 0 0;
        background: transparent;
        border-right: 1px solid #EBEBEB;
        text-align: center;
    }

        #market .col-lg .block-lg .clean-content > .account-summary > .col-s > p {
            margin-top: 30%;
        }

        #market .col-lg .block-lg .clean-content > .account-summary > .col-s:last-of-type {
            margin: 0;
            border: none;
        }


#market .col-lg .block-lg .clean-content .share-development {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 615px;
    height: 615px;
    transform: translate(-0%, -50%);
}

#market .col-lg .block-m .block-s {
    width: 100px;
    height: 100px;
    padding: 25px;
}
