/* LARGE SCREEN RESOLUTION CSS*/

@media screen and (min-width: 1366px) {

    #portfolio > .col-lg > .block-lg {
        height: 100%;
        width: 100%;
    }


    #portfolio .col-lg .block-lg > .clean-content {
        width: calc(100% - 100px);
        min-height: 515px;
        padding: 50px;
    }

    #portfolio .col-lg .block-m > .clean-content {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        padding: 50px;
    }


    #portfolio .col-lg .block-m .clean-content .donut-chart {
        position: absolute;
        width: 250px;
        height: 250px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        #portfolio .col-lg .block-m .clean-content .donut-chart .donut-label {
            width: 50px;
            min-height: 25px;
            border-radius: 50%;
            padding: 10px;
        }

    #portfolio .col-lg .block-lg .clean-content .account-development {
        position: absolute;
        left: 0%;
        top: 50%;
        width: 615px;
        height: 615px;
        transform: translate(-0%, -50%);
    }

    #portfolio .col-lg .block-lg .clean-content .account-development-tooltip {
        padding: 10px;
        border: 1px solid #EBEBEB;
        overflow: hidden;
        box-shadow: none;
    }



    #portfolio .col-lg .block-lg > .rectangular-block {
        min-height: 10px;
    }

        #portfolio .col-lg .block-lg > .rectangular-block > .col-s {
            min-height: 10px;
            width: 50px;
            padding: 50px 50px 50px 50px;
            border-right: 1px solid #EBEBEB;
        }

        #portfolio .col-lg .block-lg > .rectangular-block > .col-lg {
            min-height: 10px;
            width: 300px;
            padding: 35px 50px 0px 50px;
        }

    #portfolio .col-lg .block-lg .rectangular-block > .block-s {
        height: 20px;
        width: 90px;
        padding: 25px;
    }


        #portfolio .col-lg .block-lg .rectangular-block > .block-s > .transaction-identifier {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: top;
        }

            #portfolio .col-lg .block-lg .rectangular-block > .block-s > .transaction-identifier > i {
                position: absolute;
                font-size: 12px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

        #portfolio .col-lg .block-lg .rectangular-block > .block-s:first-of-type > p {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }



    #portfolio .col-lg .block-lg .clean-content > .account-summary {
        position: relative;
        width: 515px;
        left: 50%;
        margin-bottom: 50px;
        transform: translate(-50%, -0%);
    }

        #portfolio .col-lg .block-lg .clean-content > .account-summary > .col-s {
            width: 120px;
            height: 120px;
            margin: 0 5px 0 0;
            background: transparent;
            border-right: 1px solid #EBEBEB;
            text-align: center;
        }

            #portfolio .col-lg .block-lg .clean-content > .account-summary > .col-s > p {
                margin-top: 30%;
            }

            #portfolio .col-lg .block-lg .clean-content > .account-summary > .col-s:last-of-type {
                margin: 0;
                border: none;
            }

    table tbody tr td .td-wrap {
        
        width: 100%;
        height: calc(100% + 10px);
        top: -10px;
        left: -10px;
    }

    table tbody tr td .td-wrap p {

        top: 10px;   
    }

    table tbody tr td .td-wrap .action {
        position: absolute;
        width: 45px;
        height: 45px;
        border-right: 1px solid #EBEBEB;
        background: #FFF;
        top: 0;
        left: -56px;
        cursor: pointer;
    }

    table tbody tr td .td-wrap .action i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
    }
}





/* MEDIUM SCREEN RESOLUTION CSS*/





@media screen and (max-width: 1366px) {


    #portfolio .col-lg .block-lg {
        height: 100%;
        width: 100%;
    }

        #portfolio .col-lg .block-lg .clean-content {
            width: calc(100% - 100px);
            min-height: 415px;
            padding: 50px;
        }

    #portfolio .col-lg .block-m .clean-content {
        width: calc(100% - 100px);
        height: calc(100% - 100px);
        padding: 50px;
    }

        #portfolio .col-lg .block-m .clean-content .pie-chart {
            position: absolute;
            width: 150px;
            height: 150px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #portfolio .col-lg .block-m .clean-content .pie-chart-label {
            position: absolute;
            width: 200px;
            height: 30px;
            left: 25px;
            bottom: 20px;
        }

        #portfolio .col-lg .block-m .clean-content .pie-chart .chart-content {
            position: absolute;
            width: 100px;
            height: 50px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        #portfolio .col-lg .block-m .clean-content .donut-chart {
            position: absolute;
            width: 220px;
            height: 220px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

            #portfolio .col-lg .block-m .clean-content .donut-chart .donut-label {
                width: 50px;
                min-height: 25px;
                border-radius: 50%;
                padding: 10px;
            }

                #portfolio .col-lg .block-m .clean-content .donut-chart .donut-label p {
                    line-height: initial;
                }


    #portfolio .col-lg .block-lg .clean-content .account-development {
        position: absolute;
        left: 0%;
        top: 50%;
        width: 515px;
        height: 615px;
        transform: translate(-0%, -50%);
    }


    #portfolio .col-lg .block-lg > .rectangular-block {
        min-height: 10px;
    }

        #portfolio .col-lg .block-lg > .rectangular-block > .col-s {
            min-height: 10px;
            width: 50px;
            padding: 25px;
            border-right: 1px solid #EBEBEB;
        }

        #portfolio .col-lg .block-lg > .rectangular-block > .col-lg {
            min-height: 10px;
            width: 250px;
            padding: 35px 50px 0px 50px;
        }

    #portfolio .col-lg .block-lg .rectangular-block > .block-s {
        height: 20px;
        width: 90px;
        padding: 15px;
    }


        #portfolio .col-lg .block-lg .rectangular-block > .block-s > .transaction-identifier {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: top;
        }

            #portfolio .col-lg .block-lg .rectangular-block > .block-s > .transaction-identifier > i {
                position: absolute;
                font-size: 12px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

        #portfolio .col-lg .block-lg .rectangular-block > .block-s:first-of-type > p {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }


    #portfolio .col-lg .block-lg .clean-content .account-summary {
        width: 415px;
        left: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
        transform: translate(-50%, -0%);
    }

        #portfolio .col-lg .block-lg .clean-content .account-summary .col-s {
            width: 200px;
            height: 120px;
            margin: 0 5px 0 0;
            background: transparent;
            border-right: 1px solid #EBEBEB;
            text-align: center;
        }

            #portfolio .col-lg .block-lg .clean-content .account-summary .col-s p {
                margin-top: 10%;
            }

            #portfolio .col-lg .block-lg .clean-content .account-summary .col-s:nth-of-type(even) {
                margin: 0;
                border: none;
            }
}
