<div class="control-panel">
    <div class="control-panel-ghost"></div>


    <div class="column level-1" data-target="initial" value="1">
        
        <div class="header">
            <h2 class="color-cyan">Arocell</h2>
        </div>

        <ul>
            <li data-href="share-market-action" data-description="Köp eller sälj aktien.">
                <i class="fa fa-bolt fa-2x color-white"></i>
                <p class="color-white -capitalize">Handla</p>
            </li>
            <li data-href="share-follow-action" data-description="Skapa kurslarm eller lägg till aktien i din bevakningslista för att inte missa viktiga kursrörelser.">
                <i class="fa fa-rss fa-2x color-white"></i>
                <p class="color-white -capitalize">Följ</p>
            </li>
            <li data-href="share-discussion-action" data-description="Skapa diskussion i aktieforumet.">
                <i class="fa fa-comments fa-2x color-white"></i>
                <p class="color-white -capitalize">Diskutera</p>
            </li>

        </ul>

    </div>
    <div class="column level-2" data-target="share-market-action" value="2">

        <ul>
            <li data-href="filter-column" data-description="Skapa en köporder.">
                <i class="fa fa-chevron-circle-right fa-2x color-white"></i>
                <p class="color-white -capitalize">Köp</p>
            </li>
            <li data-href="filter-column" data-description="Skapa en säljorder.">
                <i class="fa fa-chevron-circle-left fa-2x color-white"></i>
                <p class="color-white -capitalize">Sälj</p>
            </li> 

        </ul>

    </div>

    <div class="column level-2" data-target="share-follow-action" value="2">

        <ul>
            <li data-href="private-competition-information" data-description="Lägg till akiten i din lista med bevakningar. För att se alla dina bevakningar, återgå till startsidan.">
                <i class="fa fa-chain fa-2x color-white"></i>
                <p class="color-white -capitalize">Bevaka</p>
            </li>
            <li data-href="private-competition-settings" data-description="Skapa ett kurslarm när aktien når en nivå du själv bestämmer. Välj om du vill bli notifierad via mail eller enbart när du är inloggad.">
                <i class="fa fa-bell fa-2x color-white"></i>
                <p class="color-white -capitalize">Kurslarm</p>
            </li>

        </ul>

    </div>
    
    <div class="column level-2" data-target="share-discussion-action" value="2">

        <ul>
            <li data-href="private-competition-information" data-description="Skapa en ny tråd i diskussionsforumet.">
                <i class="fa fa-bullseye fa-2x color-white"></i>
                <p class="color-white -capitalize">Forumtråd</p>
            </li>
        </ul>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-information" value="3">

        <div class="content">

            

        </div>

        <div class="content">



        </div>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-invites" value="3">

        <p class="color-white -capitalize">Invitationtab</p>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-settings" value="3">
        <div class="content">
            

        </div>
    </div>
    
    
    <div class="explanatory-column">

        <p class="color-white -medium">
           
            Behandla en aktie.

        </p>

    </div>


    <img src="~/Content/Images/Gfx/button_close_white.png" class="button-close" />
</div>
<div class="control-panel-overlay"></div>

