<div class="control-panel">
    <div class="control-panel-ghost"></div>


    <div class="column level-1" data-target="initial" value="1">
        
        <div class="header">
            <h2 class="color-cyan">Arocell</h2>
        </div>

        <ul>
            <li data-href="share-market-action">
                <i class="fa fa-bolt fa-2x color-white"></i>
                <p class="color-white -capitalize">Handla</p>
            </li>
            <li data-href="share-follow-action">
                <i class="fa fa-rss fa-2x color-white"></i>
                <p class="color-white -capitalize">Följ</p>
            </li>
            <li data-href="share-discussion-action">
                <i class="fa fa-comments fa-2x color-white"></i>
                <p class="color-white -capitalize">Diskutera</p>
            </li>

        </ul>

    </div>
    <div class="column level-2" data-target="share-market-action" value="2">

        <ul>
            <li data-href="filter-column">
                <i class="fa fa-chevron-circle-right fa-2x color-white"></i>
                <p class="color-white -capitalize">Köp</p>
            </li>
            <li data-href="filter-column">
                <i class="fa fa-chevron-circle-left fa-2x color-white"></i>
                <p class="color-white -capitalize">Sälj</p>
            </li> 

        </ul>

    </div>

    <div class="column level-2" data-target="share-follow-action" value="2">

        <ul>
            <li data-href="private-competition-information">
                <i class="fa fa-chain fa-2x color-white"></i>
                <p class="color-white -capitalize">Bevaka</p>
            </li>
            <li data-href="private-competition-settings">
                <i class="fa fa-bell fa-2x color-white"></i>
                <p class="color-white -capitalize">Kurslarm</p>
            </li>

        </ul>

    </div>
    
    <div class="column level-2" data-target="share-discussion-action" value="2">

        <ul>
            <li data-href="private-competition-information">
                <i class="fa fa-bullseye fa-2x color-white"></i>
                <p class="color-white -capitalize">Forumtråd</p>
            </li>
        </ul>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-information" value="3">

        <div class="content">

            

        </div>

        <div class="content">



        </div>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-invites" value="3">

        <p class="color-white -capitalize">Invitationtab</p>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-settings" value="3">
        <div class="content">
            

        </div>
    </div>


    <img src="~/Content/Images/Gfx/button_close_white.png" class="button-close" />
</div>
<div class="control-panel-overlay"></div>

