<div class="control-panel">
    <div class="control-panel-ghost"></div>


    <div class="column level-1" data-target="initial" value="1">
        
        <div class="header">
            <h2 class="color-cyan">Skapa</h2>
        </div>

        <ul>
            <li data-href="public-competition" data-description="Publika tävlingar kan skapas utav vem som helst och innebär att tävlingen kommer att vara synlig och öppen för alla medlemmar att delta.">
                <i class="fa fa-globe fa-2x color-white"></i>
                <p class="color-white -capitalize">Publik tävling</p>
            </li>
            <li data-href="private-competition" data-description="Privata tävlingar är gömda för allmänheten och kräver en direkt inbjudan från skaparen.">
                <i class="fa fa-lock fa-2x color-white"></i>
                <p class="color-white -capitalize">Privat tävling</p>
            </li>

        </ul>

    </div>
    <div class="column level-2" data-target="public-competition" value="2">

        <ul>
            <li data-href="filter-column" data-description="Ange grundläggande tävlingsinformation som behövs för att skapa tävlingen.">
                <i class="fa fa-bars fa-2x color-white"></i>
                <p class="color-white -capitalize">Information</p>
            </li>
            <li data-href="filter-column" data-description="Ställ in vilka regler som gäller, samt monetär storlek på portföljer som alla deltagare har att tillgå.">
                <i class="fa fa-cogs fa-2x color-white"></i>
                <p class="color-white -capitalize">Inställningar</p>
            </li>
            <li data-href="filter-column" data-description="Bjud in vänner och kollegor till din nystartade tävling. Ju fler, desto roligare.">
                <i class="fa fa-send fa-2x color-white"></i>
                <p class="color-white -capitalize">Inbjudningar</p>
            </li>


        </ul>

    </div>

    <div class="column level-2" data-target="private-competition" value="2">

        <ul>
            <li data-href="private-competition-information" data-description="Ange grundläggande tävlingsinformation som behövs för att skapa tävlingen.">
                <i class="fa fa-navicon fa-2x color-white"></i>
                <p class="color-white -capitalize">Information</p>
            </li>
            <li data-href="private-competition-settings" data-description="Ställ in vilka regler som gäller, samt monetär storlek på portföljer som alla deltagare har att tillgå.">
                <i class="fa fa-cogs fa-2x color-white"></i>
                <p class="color-white -capitalize">Inställningar</p>
            </li>
            <li data-href="private-competition-invites" data-description="Bjud in vänner och kollegor till din nystartade tävling. Ju fler, desto roligare.">
                <i class="fa fa-send fa-2x color-white"></i>
                <p class="color-white -capitalize">Inbjudningar</p>
            </li>


        </ul>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-information" value="3">

        <div class="content">

            <p class="color-white -capitalize">Tävlingsnamn</p>
            <input type="text" />

            <br />
            <br />

            <p class="color-white -capitalize">Beskrivning</p>
            <textarea></textarea>

        </div>

        <div class="content">



        </div>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-invites" value="3">

        <p class="color-white -capitalize">Invitationtab</p>

    </div>

    <div class="column level-3 content-column" data-target="private-competition-settings" value="3">
        <div class="content">
            <p class="color-white -capitalize">Maximalt antal deltagande</p>
            <input type="text" />

            <br />

            <p class="color-white -capitalize">Investeringssumma</p>
            <input id="create-contest-maximum-sum"type="text" />

        </div>
    </div>
    
    <div class="explanatory-column">
        
        <p class="color-white -medium">
            Här kan du göra saker

        </p>

    </div>


    @*<button class="create-button button-primary">
        <p class=" -capitalize"> Skapa tävling </p>
    </button>*@

    <img src="~/Content/Images/Gfx/button_close_white.png" class="button-close" />
</div>
<div class="control-panel-overlay"></div>
