<div class="menu">
    
    <img class="logotype" src="~/Content/Images/Gfx/logo.png"/>
    
    <ul>
        <li>Översikt</li>
        <li>Portfölj</li>
        <li>Värdepapper</li>
        <li>Tävling</li>

    </ul>
    
    <div class="user-panel">
        
        <p class="-capitalize">Marcus Pihlquist</p>
        <div class="canvas">
            <img src="~/Content/Images/Users/sherlock.jpg" />
        </div>
        
        
        <div class="drop-down">
            <div class="arrow"></div>

            <div class="list-item">
                <i class="fa fa-user -discrete"></i>
                <p class="-capitalize">Mitt konto</p>
            </div>

            <div class="list-item" id="create-competition">
                <i class="fa fa-plus -discrete"></i>
                <p class="-capitalize">Skapa egen tävling</p>
            </div>
            <div class="list-item">
                <i class="fa fa-lock -discrete"></i>
                <p class="-capitalize">Logga ut</p>
            </div>
        
        </div>

    </div>


</div>
