
<div class="row">
    
    

    <div class="col-large">
        
        <h1>Mina tävlingar</h1>
        <br />

        <div class="block-m">
            
            <div class="competition">
                <div class="competition-ghost"></div>

                <div class="image-wrap">
                    <img src="~/Content/Images/Competitions/wstreet.jpg"/>
                </div>
                
                <div class="content">
                    
                    <h2>Sesams aktietävling</h2>
                    <p class="-capitalize "> Pågår en vecka till</p>
                </div>

            </div>

        </div>
        
        <div class="block-m">

            <div class="competition">
                <div class="competition-ghost"></div>

                <div class="image-wrap">
                    <img src="~/Content/Images/Competitions/oldfashioned.jpg" />
                </div>

                <div class="content">

                    <h2>Bästa investeraren</h2>
                    <p class="-capitalize "> Pågår en vecka till</p>
                </div>

            </div>

        </div>

        <div class="block-m">
            
            <div class="create-competition">

               

            </div>

        </div>
     
    </div>
    
  
    <div class="col-large">

        <h1>Feed</h1>
        <br />

        <div class="event-block">
            
           


        </div>
        
        <div class="event-block">




        </div>

    </div>

</div>
