@using Services
@model Services.ViewModels.BasicContestViewModel

@if (Model != null)
{
    <div class="competition">
        <div class="competition-ghost"></div>

        <div class="image-wrap">
            @if (Model.Image != null)
            {
                <img src="@GfxHelper.Contest/@Model.Image.Url" />
            }
            
        </div>

        <div class="content">

            <h3>@Model.Name</h3>
            <p class="-capitalize"> Slutar <span data-livestamp="@Model.EndTime"></span></p>
        </div>

    </div>
}


