@using Services
@model Services.ViewModels.BasicContestViewModel

@if (Model != null)
{
    <div class="competition -white">
        <div class="competition-ghost"></div>

        <div class="image-wrap">
            <img src="@GfxHelper.Contest/@Model.Image.Url" />
        </div>

        <div class="content">

            <h3>@Model.Name</h3>
            <p class="-capitalize ">@Model.EndTime</p>
        </div>

    </div>
}


